.link {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}

.link:hover {
    color: rgba(67, 70, 76, 0.84);
}

.appBar {
    border-bottom: 1px solid black;
    background: #17212b;
}
